 @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');


:root{

    /* fonts */
    --fontSize: 15px;
    --big-shoulders-display: 'Big Shoulders Display', cursive;
    --lexend-deca: 'Lexend Deca', sans-serif;

    /* colors */
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    /* paragraph */
    --transparent-white: hsla(0, 0%, 100%, 0.75);

    /* (background, headings, buttons) */
    --very-light-gray: hsl(0, 0%, 95%);
}

/* General Styles */

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body, html{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: var(--very-light-gray);
}

h1{
    font-family: var(--big-shoulders-display);
    text-transform: uppercase;
    color: var(--very-light-gray);
    font-size: 32px;
    line-height: 48px;
    font-weight: 700;
}

p{
    font-family: var(--lexend-deca);
    font-size: var(--fontSize);
    color: var(--transparent-white);
    line-height: 24px;
    font-weight: 400;
}

button{
    padding: 12px 24px;
    margin-top: .5rem;
    background-color: var(--transparent-white);
    line-height: 24px;
    font-family: var(--lexend-deca);
    font-weight: 400;

    cursor: pointer;

    border: none;
    outline: none;
    border-radius: 46px;
}

button:hover{
    padding: 12px 24px;
}

@media screen and (min-width: 1024px){
    button{
        margin-top: 3rem;
    }
}



.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

@media screen and (min-width: 1024px){
    body{
        overflow: hidden;
    }
    .container{
        height: 100vh;
        max-width: 960px;
        flex-direction: row;
    }
}

.card{
    width: 300px;
    padding: 42px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}


.image-container{
    width: 48px;
    height: 40px;
}

.image-container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.sedans{
    background-color: var(--bright-orange);
    color: var(--transparent-white);
    border-radius: 6px 6px 0 0;
}
@media screen and (min-width: 1024px){
    .sedans{
        border-radius: 6px 0 0 6px;
    }
}

.suvs{
    background-color: var(--dark-cyan);
    color: var(--transparent-white);
}

.luxury{
    background-color: var(--very-dark-cyan);
    color: var(--transparent-white);
    border-radius: 0 0 6px 6px;
}

@media screen and (min-width: 1024px){
    .luxury{
        border-radius: 0 6px 6px 0;
    }
}



.sedans button{
    color: var(--bright-orange);
}

.suvs button{
    color: var(--dark-cyan);
}

.luxury button{
    color: var(--very-dark-cyan);
}

.sedans button:hover {
    color: var(--transparent-white);
    background-color: var(--bright-orange);
    outline: 1px solid var(--transparent-white);
}

.suvs button:hover{
    color: var(--transparent-white);
    background-color: var(--dark-cyan);
    outline: 1px solid var(--transparent-white);
}

.luxury button:hover{
    color: var(--transparent-white);
    background-color: var(--very-dark-cyan);
    outline: 1px solid var(--transparent-white);
}


/* Footer */
.attribution {
    font-size: 12px;
    font-family: var(--lexend-deca);

    text-align: center;

    margin: 0 auto;
    padding: .5rem;
    color: var(--very-dark-cyan);
  }
  .attribution a {
    color: var(--bright-orange);
    text-decoration: none;
    font-family: var(--big-shoulders-display);
  }




